// import globals
@import "../../assets/styles/global.scss";

// restrict component
.restrict {
  @include media-min(xs-min) {
    display: none;
  }
}

// show on SMALL MOBILE devices
@media screen and (max-width: 360px) {
  .restrict {
    background-color: $dark;
    color: $light;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .title {
      font-family: "Morganite";
      font-size: 16vw;
      font-weight: 600;
      -webkit-text-stroke: 0.15px $light;
      letter-spacing: 3.5px;
      text-transform: uppercase;
    }
  }
}
