// imports
@import "../../assets/styles/global.scss";

// mixin
@mixin pageStyle {
  color: $light;
  scroll-behavior: smooth;
  overflow: hidden;
}

// component
.home {
  background: url(../../assets/images/8.jpg) 50% 50% $dark no-repeat fixed;
  background-size: cover;
}

.page {
  @include pageStyle;

  .wrapper {
    background-color: rgba($color: $dark, $alpha: 0.7);
    width: 100%;
    height: 100%;
  }

  .items {
    padding: 8em 6em;
    height: 100%;
    width: 100%;
  }
}
