// import globals
@import "../../assets/styles/global.scss";

// navbar component
.navbar {
  @include navFoot;
  top: 0;
  background: linear-gradient(to bottom, rgba($dark, 0.95), $dark-opaque);

  &__wrapper {
    @include navFootWrapper;
    padding-bottom: 4em;
  }

  &__item {
    margin-left: 2.2em;
    padding-bottom: 16px;
  }

  &__brand {
    margin-left: 0;
    margin-right: 2.2em;
  }
}
