/* import fonts.css */
@import url("./assets/fonts/fonts.css");

/* all elements */
* {
  cursor: none !important;
}

@media screen and (pointer: coarse) {
  * {
    cursor: auto;
  }
}

/* core elements */
html,
body {
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* anchor */
a {
  color: #ffffff;
  transition: 0.35s all ease-out;
  text-decoration: none;
  font-weight: 500;
}

/* coarse screens like MOBILE */
@media screen and (pointer: coarse) {
  a:hover,
  a:focus,
  a:active {
    color: #808080;
    transition: 0.35s all ease-in;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: #101010;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fafafa;
}
