// page style
@mixin pageStyle {
  color: $light;
  scroll-behavior: smooth;
}

// left right padding
@mixin miniPadxy {
  @include media-btw(xl-min, xl-max) {
    padding: 2em 4em;
  }
  @include media-btw(lg-min, lg-max) {
    padding: 2em 3em;
  }
  @include media-btw(sm-min, md-max) {
    padding: 2em 2em;
  }
  @include media-max(xs-max) {
    padding: 2em 1.8em;
  }
}

// nav footer wrapper
@mixin navFootWrapper {
  @include miniPadxy;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// nav footer
@mixin navFoot {
  position: fixed;
  width: 100%;
  z-index: 10;
  font-size: 0.95rem;
}
