// imports
@import "../../assets/styles/global.scss";

// component
.shadow {
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, $dark-opaque, rgba($dark, 0.95));
  z-index: 10;
  bottom: 0;

  .wrapper {
    padding: 2em 5em;
    padding-bottom: 4em;
  }
}
